{% extends 'base.html' %}

{% block content %}



<P>

<a href="{% url 'post:upload' %}" class="btn btn-primary btn-sm">Upload</a>

</P>
{% if profiles %}	
<table class="table">

<thead>
	<tr>
		<th>Title</th>
		<th>Caption</th>
		<th>Download</th>
	</tr>

</thead>

<tbody>
	{% for profile in profiles %}
	<tr>
		<td>{{profile.Title}}</td>
		<td>{{profile.Caption}}</td>
		<td><a href="{{profile.photo.url}}">Download File</a></td>
	</tr>
	{% endfor %}

</tbody>

</table>

{% else %}

<div class="container">
<div class="row">
<div class="card-title">
<div class="card-body"> No results ! </h1>

</div>

{% endif %}

<script type="text/javascript">
document.getElementbyId('id_q').value = '{{query}}'

</script>
{% endblock %}