{% extends 'base.html' %}

{% block content %}
{% load static %}


<P>
<b> {{user.first_name}}</b>
		<br>
<a href="{% url 'post:upload' %}" class="btn btn-primary btn-sm">Upload</a>

</P>
{% if profiles %}	
<table class="table">

<thead>
	
</thead>

<tbody>
	{% for profile in profiles %}
	<p>
		
		<b>{{profile.title}}</b>
		<br>
		{{profile.caption}}
		<br><br>
		<img src="{{profile.url}}" height="80%" width="50%">
		<br>
		<a href="{{ profile.url }}" download class="card-link">Download</a>
		<br>
		<br>
		Likes:{{profile.likes}}
		<br>
		<form method="POST" action="{% url 'post:delete' profile.pk %}">
				{% csrf_token %}

		<button type="submit" class="btn btn-primary">Delete</button>
		</form><br>	
		<form method="POST" action="{% url 'post:update' profile.pk %}">
				{% csrf_token %}

		<button type="submit" class="btn btn-primary">Update</button><br><br><br>
		<hr>
		</form>	
		<form method="POST" action="{% url 'post:like' profile.pk %}">
			{% csrf_token %}
			<input type="submit" value="Like" class="btn btn-outline-success">
		</form>
		<br>
		Comments:<br>
		{% for comment in profile.comments %}
			{{comment}}<br>
		{% endfor %}
		<br>
		<form method="POST" action="{% url 'post:comment' profile.pk %}">
		{% csrf_token %}
		<input type="text" name="comment">
		<input type="submit" value="Comment" class="btn btn-outline-success">
		

	</form>
	</p>
	{% endfor %}

	<br><br>

</tbody>

</table>

{% else %}

<div class="container">
<div class="row">
<div class="card-title">
<div class="card-body"> No results ! </h1>

</div>

{% endif %}

{% endblock %}