{% extends "Base.html" %}

{% block content %}
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="web1.png" height="50" alt="Photon">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Friends</a>
                
            </div>
            
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Logout</a>
            </div>
                        
    <form method = "get" class = "seach-bar">
    <input type = "text" name = "q" placeholder = "search-bar">
    </form>

    </thead>
    {% if Users %}
    <tbody>
    {% for User in Users %}
    <tr>
        <td>{{User.first_name}}</td>
        <td>{{User.last_name}}</td>
        <td>{{User.email}}</td>
    </tr>
        {% endfor %}
    </tbody>
    </table>
    {% else %}
    <div class = "container">
    <div class = "row">
    <div class = "card-title">
    <h1 class = "card-body">No Results!</h1>
    </div>
    </div>
    </div>
    {% endif %}

    <script type = "text/javascript">
    dcoument.getElementbyId('id_q').value = '{{query}}'
    </script>

{% endblock %}    
        </div>
    </nav>
</div>
</body>
</html>                            