{% extends "Base.html" %}

{% block content %}
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img src="../web1.png" height="50" alt="Photon">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>
                <a href="#" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Friends</a>
                
            </div>
            
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">Logout</a>
            </div>
                        
    <form method = "get" class = "seach-bar" action="{% url 'Main:list' %}">
    <input type = "text" name = "q" placeholder = "Search">
    </form>
    </nav>
</div>
{% endblock %}
    